* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.site-title {
  font-size: 2rem;
  text-decoration: none;
  color: white;
}

/*        */
/* NAVBAR */
/*        */

.nav {
  background-color: #17202a;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  padding: 0 10%; /* scale or static? */
  position: fixed;
  top: 0; /* change top/left to let float? */
  left: 0;
}

@media screen and (max-width: 632px) {
  .nav {
    padding: 0 10px;
  }
}

/* Removes extra margins from heading */
.nav h1 {
  margin: 0;
  padding-bottom: 0.5rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-item {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .5rem;
}

.nav-item.active {
  background-color: #86909b;
}

.nav-item:hover {
  background-color: #abb2b9;
}



/*            */
/* STORE PAGE */
/*            */

.store {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-auto-rows: 1fr;
  /* width: 100%; */
  justify-items: center;
}

.product {
  color: white;
  border-radius: 20px;
  background-color: #17202a;
  width: 20rem; /* too much text spills off unit, need to return instead */
  margin: 4rem 7rem; /* keeps product units away from edge of page */
}

.product p {
  padding: 0.5rem 1rem 0.5rem 1rem; /* top right bottom left */
}

.product button {
  margin: 0.5rem 0rem 0.5rem 1rem;
}